body {
    background-color: black;
    font-family: 'Roboto Mono';
    display: flex;
    flex-direction: column;
  }

/* ---------- Text ---------- */

h1 {
    margin-top: 1em;
    font-size: 5rem;
    color: white;
    text-align: center;
}

h4 {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-bottom: 1em;
}

h6 {
    font-size: 1rem;
    color: white;
    text-align: center;
}

a {
    font-size: 2rem;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #00f7ff;
}

p {
    font-size: 1.25rem;
    color: white;
    text-align: center;
}

.contactHref {
    font-size: 2.5vh;
}

.mainLink {
    padding: 0.5em;
    font-size: 4rem;
}

#mainText {
    margin-top: 5%;
}

.homeButton {
  margin: 1em;
}

/* ---------- Flexbox ---------- */

#bottomFlexbox {
    display: flex;
    justify-content: center;
    margin-top: 8em;
  }

#flexBox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10em 0;
}

#projectFlexbox {
    display: flex;
    justify-content: space-around;
    margin: 1em;
}

#aboutMeFlexbox {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

#goBackFlexbox {
    display: flex;
    justify-content: flex-start;
    height: 3vh;
    margin-left: 2%;
}

/* ---------- Table ---------- */

table {
    width: 50%;
    font-size: 1.25rem;
    color: white;
    border-collapse: separate;
}

table th,
td {
    text-align: left;
    padding: 2%;
}

table a {
    font-size: 1.25rem;
    color: lightblue;
}

/* ---------- Animation ---------- */

.animation {
    color: white;
    font-size: 10vh;
    margin: 0 auto;
    width: 40vh;
    margin-left: 85vh;
  }
  
  /* Real glitch effect */
  .animation {
    position: relative;
  }
  
  .animation:after {
    animation: glitchAnimation 2s infinite linear alternate-reverse;
    background: black;
    color: white;
    content: attr( data-text );
    left: 0.2vh;
    overflow: hidden;
    position: absolute;
    text-shadow: 0.2vh 0 rgb(0, 255, 242);
  }


  /* Expanded Animations */
  @keyframes glitchAnimation {
    0% {
      clip: rect(5vh, 999vh, 5vh, 0);
    }
    10% {
      clip: rect(4vh, 999vh, 6vh, 0);
    }
    20% {
      clip: rect(3vh, 999vh, 7vh, 0);
    }
    30% {
      clip: rect(5vh, 999vh, 8vh, 0);
    }
    40% {
      clip: rect(4vh, 999vh, 9vh, 0);
    }
    50% {
      clip: rect(0vh, 999vh, 4vh, 0);
    }
    60% {
      clip: rect(3vh, 999vh, 5vh, 0);
    }
    70% {
      clip: rect(4vh, 999vh, 7vh, 0);
    }
    80% {
      clip: rect(5vh, 999vh, 2vh, 0);
    }
    90% {
      clip: rect(6vh, 999vh, 3vh, 0);
    }
    100% {
      clip: rect(7vh, 999vh, 7vh, 0);
    }
  }

