body {
    background-color: black;
    font-family: 'Roboto Mono';
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* ---------- Text ---------- */

h1 {
    margin-top: 1em;
    font-size: 5rem;
    color: white;
    text-align: center;
}

h4 {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-bottom: 1em;
}

h6 {
    font-size: 1.25rem;
    color: white;
    text-align: center;
}

a {
    font-size: 2rem;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #00f7ff;
}

p {
    font-size: 1.25rem;
    color: white;
    text-align: center;
}

.contactHref {
    font-size: 1.25rem;
}

.mainLink {
    padding: 0.5em;
    font-size: 4rem;
    color: white;
}


#mainText {
    font-size: 7rem;
    margin-top: 5%;
}

.homeButton {
  margin: 1em;
}

/* ---------- Flexbox ---------- */

#bottomFlexbox {
    display: flex;
    justify-content: center;
    margin-top: 8em;
  }

#flexBox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10em 0;
}

#projectFlexbox {
    display: flex;
    justify-content: space-around;
    margin: 1em;
}

#aboutMeFlexbox {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

#goBackFlexbox {
    display: flex;
    justify-content: flex-start;
    height: 1.5rem;
    margin-left: 2%;
}

/* ---------- Table ---------- */

table {
    width: 50%;
    font-size: 1.25rem;
    color: white;
    border-collapse: separate;
}

table th,
td {
    text-align: left;
    padding: 2%;
}

table a {
    font-size: 1.25rem;
}

/* ---------- Animation ---------- */

.animation {
    color: white;
    font-size: 2rem;
    margin: 0 auto;
  }
  
  /* Real glitch effect */
  .animation {
    position: relative;
  }
  
  .animation:after {
    animation: glitchAnimation 2s infinite linear;
    background: black;
    color: white;
    content: attr( data-text );
    left: 3px;
    overflow: hidden;
    position: absolute;
    text-shadow: 2px 0 rgb(0, 255, 242);
  }


  /* Expanded Animations */
  @keyframes glitchAnimation {
    0% {
      left: 3px;
      clip: rect(10px, 9999px, 110px, 0);
    }
    1% {
      left: 3px;
      clip: rect(30px, 9999px, 90px, 0);
    }
    10% {
      left: 3px;
      clip: rect(30px, 9999px, 90px, 0);
    }
    11% {
      left: 3px;
      clip: rect(50px, 9999px, 50px, 0);
    }
    20% {
      left: 3px;
      clip: rect(50px, 9999px, 50px, 0);
    }
    21% {
      left: -3px;
      clip: rect(70px, 9999px, 80px, 0);
    }
    30% {
      left: -3px;
      clip: rect(70px, 9999px, 80px, 0);
    }
    31% {
      left: 3px;
      clip: rect(80px, 9999px, 100px, 0);
    }
    40% {
      left: 3px;
      clip: rect(80px, 9999px, 100px, 0);
    }
    41% {
      left: 3px;
      clip: rect(110px, 9999px, 110px, 0);
    }
    50% {
      left: 3px;
      clip: rect(110px, 9999px, 110px, 0);
    }
    51% {
      left: -3px;
      clip: rect(90px, 9999px, 100px, 0);
    }
    60% {
      left: -3px;
      clip: rect(90px, 9999px, 100px, 0);
    }
    61% {
      left: 3px;
      clip: rect(50px, 9999px, 90px, 0);
    }
    70% {
      left: 3px;
      clip: rect(50px, 9999px, 90px, 0);
    }
    71% {
      left: 3px;
      clip: rect(30px, 9999px, 30px, 0);
    }
    80% {
      left: 3px;
      clip: rect(30px, 9999px, 30px, 0);
    }
    81% {
      left: 3px;
      clip: rect(20px, 9999px, 70px, 0);
    }
    90% {
      left: 3px;
      clip: rect(20px, 9999px, 70px, 0);
    }
    91% {
      left: 3px;
      clip: rect(10px, 9999px, 110px, 0);
    }
    100% {
      left: 3px;
      clip: rect(10px, 9999px, 110px, 0);
    }
  }

