body {
    background-color: black;
    font-family: 'Roboto Mono';
}

/* ---------- Text ---------- */

h1 {
    margin-top: 10vh;
    font-size: 8vh;
    color: white;
    text-align: center;
}

h4 {
    font-size: 3vh;
    color: white;
    text-align: center;
    margin-bottom: 1%;
}

h6 {
    font-size: 3vh;
    color: white;
    text-align: center;
}

a {
    font-size: 5vh;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #00f7ff;
}

p {
    font-size: 2.5vh;
    color: white;
    text-align: center;
}

.contactHref {
    font-size: 2.5vh;
}

.mainLink {
    padding: 10%;
}

#mainText {
    margin-top: 5%;
}

/* ---------- Flexbox ---------- */

#flexBox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#projectFlexbox {
    display: flex;
    justify-content: space-around;
    margin: 10%;
}

#aboutMeFlexbox {
    display: flex;
    flex-direction: column;
    margin: 10%;
}

#goBackFlexbox {
    display: flex;
    justify-content: flex-start;
    height: 3vh;
    margin-left: 2%;
}

/* ---------- Table ---------- */

table {
    width: 50%;
    font-size: 2vh;
    color: white;
    border-collapse: separate;
}

table th,
td {
    text-align: left;
    padding: 2%;
}

table a {
    font-size: 2vh;
    color: lightblue;
}

/* ---------- Animation ---------- */

.animation {
    color: white;
    font-size: 100px;
    margin: 0 auto;
    width: 400px;
  }
  
  /* Real glitch effect */
  .animation {
    position: relative;
  }
  
  .animation:after {
    animation: glitchAnimation 2s infinite linear;
    background: black;
    color: white;
    content: attr( data-text );
    left: 3px;
    overflow: hidden;
    position: absolute;
    text-shadow: 1px 0 rgb(0, 255, 242);
  }


  /* Expanded Animations */
  @keyframes glitchAnimation {
    0% {
      clip: rect(10px, 9999px, 110px, 0);
    }
    10% {
      clip: rect(30px, 9999px, 90px, 0);
    }
    20% {
      clip: rect(50px, 9999px, 50px, 0);
    }
    30% {
      clip: rect(70px, 9999px, 80px, 0);
    }
    40% {
      clip: rect(80px, 9999px, 100px, 0);
    }
    50% {
      clip: rect(110px, 9999px, 110px, 0);
    }
    60% {
      clip: rect(90px, 9999px, 100px, 0);
    }
    70% {
      clip: rect(50px, 9999px, 90px, 0);
    }
    80% {
      clip: rect(30px, 9999px, 30px, 0);
    }
    90% {
      clip: rect(20px, 9999px, 70px, 0);
    }
    100% {
      clip: rect(10px, 9999px, 110px, 0);
    }
  }

